---
import Tag from './Tag.astro';

type Props = {
  tags: string[];
};

const { tags } = Astro.props;
---

<div
  class="flex w-full flex-wrap items-center gap-2 break-keep text-xs lg:text-sm"
>
  {tags.map((tag) => <Tag tag={tag} />)}
</div>
