---
import NextIcon from '@icons/ArrowRightIcon.astro';
import PrevIcon from '@icons/ArrowLeftIcon.astro';

type Props = {
  pageLength: number;
  currentUrl: string;
  currentPage: number;
  firstUrl: string;
  prevUrl: string | undefined;
  nextUrl: string | undefined;
  lastUrl: string;
};

const { pageLength, currentPage, firstUrl, prevUrl, nextUrl } = Astro.props;

const paginationList: number[] = Array.from(
  { length: pageLength },
  (_, i) => i + 1
);
---

<nav class="my-8">
  <ol class="flex justify-center gap-3 text-xs font-medium">
    {
      prevUrl && (
        <li>
          <a
            href={prevUrl}
            class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 text-content rtl:rotate-180"
          >
            <span class="sr-only">Prev Page</span>
            <PrevIcon />
          </a>
        </li>
      )
    }
    {
      paginationList?.map((num) => (
        <li>
          <a
            href={`${firstUrl}${num == 1 ? '' : '' + num}`}
            class={`block h-8 w-8 rounded border text-center leading-8 text-content ${
              currentPage == num ? 'border-accent bg-accent !text-white' : ''
            }`}
          >
            {num}
          </a>
        </li>
      ))
    }
    {
      nextUrl && (
        <li>
          <a
            href={nextUrl}
            class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 text-content rtl:rotate-180 "
          >
            <span class="sr-only">Next Page</span>
            <NextIcon />
          </a>
        </li>
      )
    }
  </ol>
</nav>
