---
import FormattedDate from '@components/Date/FormattedDate.astro';
import type { Post } from '@utils/types';
type Props = {
  post: Post;
};
const { post } = Astro.props;
const {
  id,
  data: { publishedDate, title },
} = post;
---

<tr
  class="border-b border-gray-200 hover:bg-gray-50 dark:border-gray-700 dark:hover:bg-gray-800"
>
  <td class="py-4 ps-2 text-sm text-gray-500">
    <FormattedDate date={publishedDate} />
  </td>
  <td class="flex justify-between px-2 py-4">
    <a href={`/blog/${id}`} class="break-keep hover:underline">
      {title}
    </a>
    <span class="text-sm">></span>
  </td>
</tr>
