---
type Props = {
  title: string;
  description: string;
  link: string;
};

const { title, description, link } = Astro.props;
let srTitle = link.replace(/-/g, ' ');
srTitle = srTitle.charAt(0).toUpperCase() + srTitle.slice(1);
---

<a href={`/blog/${link}`} aria-label={`Read More about ${srTitle}`}>
  <article
    class="group relative w-full overflow-hidden break-keep rounded-lg p-2 transition-all duration-300 ease-in-out hover:animate-moveRight hover:bg-gray-100/90 hover:dark:bg-gray-700/90"
  >
    <h2
      class="text-lg font-medium text-content transition-all ease-in-out hover:text-accent lg:text-2xl"
    >
      {title}
    </h2>
    <p class="line-clamp-2 break-keep text-sm text-subContent/90 sm:text-base">
      {description}
    </p>
  </article>
</a>
