---
import FormattedDate from '@components/Date/FormattedDate.astro';

type Props = {
  title: string;
  link: string;
  publishedDate: Date;
  description: string;
};

const { title, link, publishedDate, description } = Astro.props;
---

<article class="card card-compact break-keep bg-base-200/50 hover:bg-base-200/90">
  <a href={`/blog/${link}`} class="card-body">
    <div>
      <FormattedDate date={publishedDate} />
      <h3 class="card-title line-clamp-1">
        {title}
      </h3>
      <p class="line-clamp-1 text-ellipsis text-sm">
        {description}
      </p>
    </div>
  </a>
</article>
