---
import FormattedDate from '@components/Date/FormattedDate.astro';

type Props = {
  title: string;
  link: string;
  publishedDate: Date;
};

const { title, link, publishedDate } = Astro.props;
---

<article class="card card-compact break-keep hover:bg-base-200/90">
  <a href={`/blog/${link}`} class="card-body">
    <h3 class="card-title">
      {title}
    </h3>
    <FormattedDate date={publishedDate} />
  </a>
</article>
