---
import { type CollectionEntry } from 'astro:content';
import Post from './Card.astro';

type Props = {
  posts: CollectionEntry<'blog'>[];
};

const { posts } = Astro.props;
---

<ul class="mx-auto flex w-full flex-col gap-6">
  {
    posts.map((post) => (
      <li>
        <Post
          title={post.data.title}
          description={post.data.description}
          link={post.slug}
        />
      </li>
    ))
  }
</ul>
