---
import { groupPostsByYear } from '@utils/content';
import type { Post } from '@utils/types';
import PostItem from './PostItem.astro';

const { posts } = Astro.props as { posts: Post[] };

const groupedPosts = groupPostsByYear(posts);
---

<section class="space-y-12">
  {
    groupedPosts.map(({ year, posts }) => (
      <div class="space-y-4">
        <h2 class="text-sub text-sm font-semibold">{year}</h2>

        <ul class="space-y-2">
          {posts.map((post) => (
            <li>
              <PostItem post={post} />
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</section>
