---
import type { Post } from '@utils/types';
import PostItem from './PostItem.astro';

const { posts } = Astro.props as { posts: Post[] };
---

<ul class="space-y-12">
  {
    posts.map((post) => (
      <li>
        <PostItem post={post} />
      </li>
    ))
  }
</ul>
