---
import type { Post } from '@utils/types';
import PostCard from './Card.astro';

type Props = {
  posts: Post[];
};

const { posts } = Astro.props;
---

<ul class="grid gap-4 lg:gap-8">
  {
    posts.map((post) => (
      <li>
        <PostCard
          title={post.data.title}
          link={post.slug}
          description={post.data.description}
          publishedDate={post.data.publishedDate}
        />
      </li>
    ))
  }
</ul>
