---
import FormattedDate from '@components/Date/FormattedDate.astro';
import type { Post } from '@utils/types';

type Props = {
  posts: Post[];
};

const { posts } = Astro.props;
console.log(posts[0]);
---

{
  posts.map((post) => (
    <tr class="border-b border-gray-200 hover:bg-gray-50">
      <td class="py-4 text-sm text-gray-500">
        <FormattedDate date={post.data.publishedDate} />
      </td>
      <td class="px-2 py-4">
        <a href={`/blog/${post.id}`} class="hover:underline break-keep">
          {post.data.title}
        </a>
      </td>
    </tr>
  ))
}
