---
import PostHead from '@components/Posts/PostsHead.astro';
import type { Post } from '@utils/types';
import Card from './Card.astro';

type Props = {
  posts: Post[];
};

const { posts } = Astro.props;
---

<table class="w-full border-collapse">
  <PostHead />
  <tbody>
    {posts.map((post) => <Card post={post} />)}
  </tbody>
</table>
