---
import type { Post } from '@utils/types';
import PostCard from './Card.astro';
type Props = {
  posts: Post[];
};

const { posts } = Astro.props;
---

<ul class="mx-auto flex w-full flex-col gap-4">
  {
    posts.map((post) => (
      <li>
        <PostCard
          title={post.data.title}
          link={post.slug}
          publishedDate={post.data.publishedDate}
        />
      </li>
    ))
  }
</ul>
