---
import { type CollectionEntry } from 'astro:content';
import Post from './Card.astro';

type Props = {
  posts: CollectionEntry<'blog'>[];
};

const { posts } = Astro.props;
---

<ul class="mx-auto flex w-full max-w-5xl flex-col gap-4 md:gap-8">
  {
    posts.map((post) => (
      <li>
        <Post
          title={post.data.title}
          description={post.data.description}
          link={`/blog/${post.slug}`}
        />
      </li>
    ))
  }
</ul>
