---
import { format } from 'date-fns';
type Props = {
  date: Date;
};

const { date } = Astro.props;

const displayDate = format(date, 'M월 d, yyyy');
const isoDate = format(date, 'yyyy-MM-dd');
---

<div class="flex gap-2 text-sm opacity-70 sm:text-base">
  <span>|</span>
  <time datetime={isoDate}>{displayDate}</time>
</div>
