---
type Props = {
  date: Date;
};

const { date } = Astro.props;

const displayDate =
  date.getFullYear() + '. ' + (date.getMonth() + 1) + '. ' + date.getDate();
---

<span class="text-sub ml-auto">
  {displayDate}
</span>
