---
type Props = {
  date: Date;
};

const { date } = Astro.props;

const displayDate = date.getFullYear() + '. ' + (date.getMonth() + 1) + '. ' + date.getDate();
---

<span class="content-center text-sm text-sub">
  {displayDate}
</span>
