---
import { format } from 'date-fns';
type Props = {
  date: Date;
};

const { date } = Astro.props;

const publishedDate = format(date, 'M월 d, yyyy');
---

<span class="whitespace-nowrap">
  {publishedDate}
</span>
