---
import { Image } from 'astro:assets';

type Props = {
  image: ImageMetadata;
  alt: string;
};

const { image, alt } = Astro.props;
---

<div
  class="relative mx-auto my-4 flex h-auto w-full items-center overflow-hidden rounded-lg lg:w-96"
>
  <figure class="m-0">
    <Image
      src={image}
      alt={alt}
      width="960"
      height="540"
      loading="eager"
      class="size-full rounded-lg object-cover transition-transform duration-300 hover:scale-110"
    />
  </figure>
</div>
