---
import { Image } from 'astro:assets';

type Props = {
  image: ImageMetadata;
  alt: string;
};

const { image, alt } = Astro.props;
---

<div class="mx-auto flex items-center justify-center overflow-hidden">
  <figure
    class="mx-auto h-auto w-full max-w-lg rounded-lg object-cover object-center duration-300 ease-in-out hover:scale-110"
  >
    <Image
      src={image}
      alt={alt}
      width="960"
      height="540"
      loading="eager"
      class="size-full rounded-lg"
    />
  </figure>
</div>
