---
type Props = {
  postsCount: number;
  updatedDate: string;
};

const { postsCount, updatedDate } = Astro.props;
---

<section class="mt-10 flex items-center justify-between pb-3">
  <div class="text-sub text-xs">
    <span>{postsCount} posts</span>
    <span class="mx-2 opacity-40">·</span>
    <span>Updated {updatedDate}</span>
  </div>
</section>

<div class="border-t border-white/5"></div>
