---
import type { PostEntry } from '@/shared/types';
import PostRow from './PostRow.astro';

type Props = {
  posts: PostEntry[];
};

const { posts } = Astro.props;
---

<section class="mt-3">
  <ul>
    {posts.map((post) => <PostRow post={post} />)}
  </ul>
</section>
