---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '@layouts/BaseLayout.astro';
import PostList from '@components/PostList/PostList.astro';
import BlogHeader from '@components/Blog/BlogHeader.astro';
import { sortPostsByDateDesc, filterPostsByYear } from '@utils/data-util';
import { BLOG } from '@config/site-config';

const allPosts: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort(
  sortPostsByDateDesc
);

const posts = filterPostsByYear(allPosts);

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));
---

<Layout title={BLOG.title} description={BLOG.description}>
  <BlogHeader />
  <div class="mx-auto mt-4 space-y-4 lg:space-y-8">
    {
      years.map((year) => (
        <section class="flex flex-col space-y-4 lg:space-y-8">
          <span class="text-2xl font-bold text-content lg:text-3xl">
            {year}
          </span>
          <PostList posts={posts[year]} />
        </section>
      ))
    }
  </div>
</Layout>
