---
import Timer from '@/icons/timer.svg';

type Props = {
  readingTime: number;
};

const { readingTime } = Astro.props;
---

<span class="flex items-center">
  <Timer class="mr-1 size-5.5" />
  {`${readingTime}분`}
</span>
