---
import { Image } from 'astro:assets';

type Props = {
  image: ImageMetadata;
  alt: string;
  link?: string;
};

const { image, alt, link } = Astro.props;
---

<div class="mockup-browser border-base-300 rounded-lg border">
  <div class="mockup-browser-toolbar">
    <span class="pl-4">
      {link}
    </span>
  </div>
  <div class="border-base-300 flex justify-center border-t">
    <figure class="!m-0">
      <Image
        src={image}
        alt={alt}
        width="960"
        height="540"
        loading="eager"
        class="size-full object-cover"
      />
    </figure>
  </div>
</div>
