---
const blogTitleText = 'Woong\u00B4s Tech Note';
const blogDescription = '학습한 지식과 구현한 프로젝트의 아카이브';
const viewMore = '읽으러가기';
---

<section
  class="my-4 w-full rounded-lg bg-gradient-to-r from-blue-500 to-teal-500 py-8 lg:py-12"
>
  <div
    class="flex flex-col items-center justify-center space-y-4 drop-shadow-lg lg:space-y-8"
  >
    <h1
      class="text-3xl font-bold !leading-normal tracking-tight text-white sm:text-5xl md:text-6xl lg:text-7xl"
    >
      {blogTitleText}
    </h1>
    <p
      class="animate-fadeIn mx-auto max-w-2xl break-keep text-center text-lg text-gray-100 md:text-xl lg:text-2xl"
    >
      {blogDescription}
    </p>
    <a
      href="/blog"
      class="transform rounded-md border px-6 py-2 text-base font-medium text-white transition duration-300 ease-in-out hover:scale-110 md:px-8 md:py-3 md:text-lg"
    >
      {viewMore}
    </a>
  </div>
</section>
