---
import config from '@config/site-config';
---

<h2
  class="mx-auto mb-8 w-full max-w-4xl whitespace-pre-line break-keep text-center text-lg text-content lg:mb-20 lg:text-xl">
  {config.author.bio}
</h2>
