---
const blogTitleText = '지식과 프로젝트의 아카이브';
const blogDescription = '학습한 지식, 구현한 프로젝트를 기록하기 위한 공간';
const viewMore = '읽으러가기';
---

<section class="w-full py-12 md:py-24 lg:py-32">
  <div
    class="container flex flex-col items-center justify-center space-y-4 md:space-y-6"
  >
    <h1
      class="bg-gradient-to-r from-blue-500 to-teal-500 bg-clip-text text-4xl font-bold text-transparent text-white drop-shadow-md sm:text-5xl md:text-6xl lg:text-7xl"
    >
      {blogTitleText}
    </h1>
    <p
      class="animate-fadeIn mx-auto max-w-2xl text-lg text-subContent md:text-xl"
    >
      {blogDescription}
    </p>
    <a
      href="/blog"
      class="rounded bg-gradient-to-r from-cyan-500 to-blue-500 px-4 py-2 font-bold text-white transition-all ease-in-out hover:scale-110 hover:from-cyan-600 hover:to-blue-600"
    >
      {viewMore}
    </a>
  </div>
</section>
