---
import SocialLinks from '../Common/SocialLinks.astro';
import ProfileImage from '../Common/ProfileImage.astro';
import Bio from './Bio.astro';
import TechStack from './TechStack.astro';
---

<section class="mb-4 flex w-full flex-col gap-4 border-b p-2">
  <ProfileImage />
  <Bio />
  <TechStack />
</section>
