---
import config from '@config/site-config';
const techStack: string[] = config.author.tech.split(', ');
---

<div class="flex space-x-5">
  {
    techStack?.map((item) => (
      <span class="text-sm font-semibold text-accent lg:text-lg">#{item}</span>
    ))
  }
</div>
