---
import type { TocNode } from '@utils/types';

const { heading } = Astro.props;
---

<div class="w-full px-3 py-2 text-sm lg:text-base">
  <a
    href={'#' + heading.slug}
    class="w-full underline-offset-8 hover:underline"
  >
    {heading.text}
  </a>
  {
    heading.subHeadings.length > 0 && (
      <ul class="pl-1">
        {heading.subHeadings.map((subHeading: TocNode) => (
          <Astro.self heading={subHeading} />
        ))}
      </ul>
    )
  }
</div>
