---
const { heading } = Astro.props;
---

<li>
  <a
    href={'#' + heading.slug}
    class="text-content underline-offset-2 hover:underline"
  >
    {heading.text}
  </a>
  {
    heading.subHeadings.length > 0 && (
      <ul class="ps-2">
        {heading.subHeadings.map((subHeading: any) => (
          <Astro.self heading={subHeading} />
        ))}
      </ul>
    )
  }
</li>
