---
import type { TocHeadings } from '@utils/types';

const { heading } = Astro.props;
---

<li class="list-inside px-8 py-1.5 text-sm">
  <a
    href={'#' + heading.slug}
    class="text-content underline-offset-2 hover:underline"
  >
    {heading.text}
  </a>
  {
    heading.subHeadings.length > 0 && (
      <ul class="ps-2">
        {heading.subHeadings.map((subHeading: TocHeadings) => (
          <Astro.self heading={subHeading} />
        ))}
      </ul>
    )
  }
</li>
