---
import type { TocHeadings } from '@utils/types';

const { heading } = Astro.props;
---

<li class="list-inside px-6 py-1.5 text-sm">
  <a href={'#' + heading.slug} class="underline-offset-4">
    {heading.text}
  </a>
  {
    heading.subHeadings.length > 0 && (
      <ul class="pl-1">
        {heading.subHeadings.map((subHeading: TocHeadings) => (
          <Astro.self heading={subHeading} />
        ))}
      </ul>
    )
  }
</li>
