@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 202 40% 96%;
    --color-content: 0 0% 0%;
    --color-sub-content: 220 9% 26%;
    --color-accent: 224 86% 56%;
    --color-white: 0 0% 98%;
    --color-scrollbar-background: #fff;
    --color-scrollbar-thumb-background: #e5e7ebe6;
  }
  :root.dark {
    --color-background: 213 52% 9%;
    --color-content: 360 100% 100%;
    --color-sub-content: 210 3% 85%;
    --color-accent: 210 100% 56%;
    --color-scrollbar-background: #000;
    --color-scrollbar-thumb-background: #374151d9;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

:target {
  scroll-margin-top: 60px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-scrollbar-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb-background);
  border-radius: 24px;
}

.prose pre > code {
  display: grid;
}

.prose pre::-webkit-scrollbar {
  display: none;
}

.prose pre {
  scrollbar-width: none;
}

.prose pre span[data-line] {
  @apply inline-block px-4 py-0.5 leading-snug;
}

.prose code span[data-highlighted-line] {
  @apply border-y-0 border-l-2 border-blue-400 bg-opacity-50 pl-[calc(0.5rem-2px)] dark:border-blue-500 md:pl-[calc(1rem-2px)];
}

.prose figcaption[data-rehype-pretty-code-title] {
  @apply rounded-t-lg border border-b-0 border-gray-200 bg-gray-200 px-5 py-3 font-mono text-sm font-bold text-gray-800 dark:border-none dark:bg-gray-800 dark:text-gray-200;
}
.prose figcaption[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none;
}

.prose :not(pre) > code::before,
.prose :not(pre) > code::after {
  display: none;
}

.prose :not(pre) > code {
  @apply rounded border bg-[--shiki-light-bg] px-1.5 py-1 align-middle font-mono font-semibold dark:border-none dark:bg-[--shiki-dark-bg];
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

.dark {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

[data-rehype-pretty-code-figure] pre {
  @apply border bg-[--shiki-light-bg] px-0 dark:border-none dark:bg-[--shiki-dark-bg];
}

@view-transition {
  navigation: auto; /* enabled! */
}
