@import 'tailwindcss';

@theme {
  --font-display: 'Pretendard Variable';
}

@font-face {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-display: swap;
}
