@layer base {
  :root {
    /* Typography Color Tokens */
    --color-text-primary: light-dark(var(--color-gray-700), var(--color-white));
    --color-text-headings: light-dark(
      var(--color-gray-900),
      var(--color-white)
    );
    --color-text-muted: var(--color-gray-500);
    --color-border: var(--color-gray-200);
    --color-background-code: var(--color-gray-100);
    --color-link: var(--color-blue-600);
    --color-link-hover: var(--color-blue-700);

    /* Typography Size Tokens */
    --font-size-h1: var(--text-4xl);
    --font-size-h2: var(--text-3xl);
    --font-size-h3: var(--text-2xl);
    --font-size-base: var(--text-base);
    --font-size-sm: var(--text-sm);
  }

  .prose {
    color: var(--color-text-primary);
    line-height: var(--leading-relaxed);
  }

  .prose h2 {
    color: var(--color-text-headings);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-medium);
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-border);
  }

  .prose h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-medium);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-border);
  }

  .prose a {
    color: var(--color-link);
    text-decoration: underline;
    font-weight: var(--font-weight-medium);
    transition: color 0.2s;
  }

  .prose a:hover {
    color: var(--color-link-hover);
  }

  .prose p {
    margin-bottom: 1.2rem;
  }

  .prose ol {
    list-style: decimal;
  }

  .prose ul {
    list-style: disc;
  }

  .prose ul,
  .prose ol {
    padding-left: calc(var(--spacing) * 4);
    margin-bottom: calc(var(--spacing) * 2);
    margin-left: calc(var(--spacing) * 2);
  }

  .prose li + li {
    margin-top: calc(var(--spacing) * 2.5); /* 항목 간 간격 8px */
  }

  .prose hr {
    margin-block: calc(var(--spacing) * 4);
  }

  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: light-dark(var(--shiki-light), var(--shiki-dark));
    background-color: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
  }

  .prose pre {
    background-color: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
    padding: calc(var(--spacing) * 2);
    border-radius: var(--radius-lg);
    overflow-x: auto;
    margin-bottom: calc(var(--spacing) * 6);
    scrollbar-width: none;
  }

  .prose pre::-webkit-scrollbar {
    display: none;
  }

  .prose :not(pre) > code {
    background-color: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
    vertical-align: middle;
    font-weight: 600;
    padding-inline: calc(var(--spacing) * 1.5);
    padding-block: calc(var(--spacing) * 1);
    border-width: light-dark(1px, 0);
    border-color: light-dark(var(--color-black), none);
    border-radius: var(--radius-sm);
  }

  .prose :not(pre) > code::before,
  .prose :not(pre) > code::after {
    display: none;
  }

  .prose blockquote {
    border-left: 4px solid var(--color-border);
    padding-left: calc(var(--spacing) * 4);
    font-style: italic;
    color: var(--color-text-muted);
    margin: calc(var(--spacing) * 6) 0;
  }

  .prose table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: calc(var(--spacing) * 6);
  }

  .prose th,
  .prose td {
    border: 1px solid var(--color-border);
    padding: calc(var(--spacing) * 3);
    text-align: left;
  }

  .prose thead {
    background-color: var(--color-background-code);
    font-weight: var('fontWeight.semibold');
  }

  .prose pre span[data-line] {
    display: inline-block;
    padding: calc(var(--spacing) * 0.5);
    line-height: var(--leading-snug);
  }

  .prose code span[data-highlighted-line] {
    border-left-width: calc(var(--spacing) * 0.5);
    border-left-color: light-dark(var(--color-blue-400), var(--color-blue-500));
    background-color: calc(var(--color-black) / 50);
    padding-left: calc(var(--spacing)-2);
  }

  .prose figcaption[data-rehype-pretty-code-title] {
    border-top-left-radius: var(--radius-lg);
    border-top-right-radius: var(--radius-lg);
    border-bottom: none;
    border-width: 1px;
    border-color: light-dark(var(--color-gray-200), var(--color-gray-700));
    background-color: light-dark(var(--color-gray-200), var(--color-gray-800));
    color: light-dark(var(--color-gray-800), var(--color-gray-200));
    font-size: var(--text-sm);
    font-weight: 700;
    padding-inline: calc(var(--spacing) * 5);
    padding-block: calc(var(--spacing) * 3);
    font-family: var(--font-mono);
  }

  .prose figcaption[data-rehype-pretty-code-title] + pre {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  [data-rehype-pretty-code-figure] pre {
    border-width: 1px;
    border-color: light-dark(var(--color-black), var(--color-gray-700));
    background-color: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
    padding-inline: 0;
  }

  .mockup-browser {
    position: relative;
    overflow: hidden;
  }

  .mockup-browser-toolbar {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--spacing) * 1);
    border-bottom: 1px solid var(--color-border);
    padding: 4px 2px;
  }
}
