---
type Props = {
  category: string;
};
const { category } = Astro.props;
const categoryColors: { [key: string]: string } = {
  Tech: 'text-content',
  Project: 'text-blue-500',
  Diary: 'text-green-500',
};

const textColorClass = categoryColors[category];
---

<span class=`w-fit rounded-md ${textColorClass}`>
  {category}
</span>
