---
import TagIcon from '@icons/TagIcon.astro';
import Base from '@layouts/Base.astro';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const { tag } = Astro.params;
const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag!));
const tagsLength = filteredPosts.length;
---

<Base>
  <h1 class="px-4 text-3xl">
    <b> {tag}</b> 에 대한 검색 결과는 <b> {tagsLength}</b> 건 입니다.
  </h1>
  <ul class="mt-4 pl-8">
    {
      filteredPosts.map((post) => (
        <li class="flex items-center space-x-1">
          <TagIcon />
          <a
            href={`/blog/${post.slug}`}
            class="text-zinc-500 hover:text-zinc-800 dark:text-zinc-400"
          >
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Base>
