---
type Props = {
  category: string;
};
const { category } = Astro.props;
---

<span
  class:list={[
    'rounded-md font-black',
    category === 'Diary'
      ? 'text-green-700 dark:text-green-300'
      : 'text-content',
  ]}>
  {category}
</span>
