---
type Props = {
  link: string;
};
const { link } = Astro.props;
---

<a
  href={link}
  class="inline-flex items-center justify-center whitespace-nowrap underline-offset-4 hover:text-accent">
  읽으러가기 →
</a>
