---
import { Image } from 'astro:assets';

type Props = {
  title: string;
  image?: ImageMetadata;
};

const { title, image } = Astro.props;
---

<div class="hidden overflow-hidden rounded-lg md:block">
  {
    image && (
      <figure class="h-auto w-40">
        <Image
          src={image}
          alt={title}
          width={320}
          height={180}
          class="rounded-lg object-cover transition duration-300 ease-in-out hover:scale-110"
          loading="eager"
        />
      </figure>
    )
  }<span class="sr-only">Go to {title} page</span>
</div>
