---
import { Image } from 'astro:assets';

type Props = {
  title: string;
  image: string | undefined;
};

const { title, image } = Astro.props;
---

<div class="hidden overflow-hidden rounded-lg md:block">
  {
    image && (
      <figure class="transiton object-cover object-center duration-300 ease-in-out hover:scale-110">
        <Image
          src={image}
          alt={title}
          width={960}
          height={540}
          class="h-auto w-36 rounded-lg"
          loading="eager"
        />
      </figure>
    )
  }<span class="sr-only">Go to {title} page</span>
</div>
