---
type Props = {
  title: string;
  link: string;
};

const { title, link } = Astro.props;
---

<h2 class="text-lg font-black text-content lg:text-2xl">
  <a href={link} class="hover:text-accent">
    {title}
  </a>
</h2>
