---
import { CATEGORIES } from '@/shared/config';

const { category } = Astro.props;

const categoryIcon = CATEGORIES[category];
---

<span class="mr-1 size-4 shrink-0">
  <categoryIcon.icon />
  <span class="sr-only">{categoryIcon.label}</span>
</span>
