---
import { storyblokEditable, useStoryblokApi } from '@storyblok/astro';
import PageTitle from '@components/PageTitle.astro';
import PostList from '@components/PostList.astro';
import TagList from '@components/TagList.astro';
import type { ArticleStoryblok } from 'component-types-sb';

const { blok } = Astro.props;

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories`, {
  version: import.meta.env.DEV ? 'draft' : 'published',
  starts_with: 'blog/',
  is_startpage: false,
  per_page: 4,
});

const articles: ArticleStoryblok[] = data.stories;

const tags: string[] = [
  ...new Set(articles.map((article) => article.content?.tags).flat()),
];
---

<section
  class="mx-auto flex w-full flex-col gap-8 lg:gap-2"
  {...storyblokEditable(blok)}
>
  <PageTitle title={blok.headline} />
  <div class="flex flex-col lg:flex-row">
    <PostList articles={articles} />
    <TagList tags={tags} />
  </div>
</section>
