---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<div
  {...storyblokEditable(blok)}
  class="w-full overflow-hidden rounded-[5px] bg-[#f7f6fd] text-center"
>
  <img
    src={blok.image.filename}
    alt={blok.image.alt}
    class="h-48 w-full object-cover xl:h-72"
  />
  <div class="px-12 py-6">
    <h3 class="text-2xl font-bold text-[#1d243d]">
      {blok.title}
    </h3>
  </div>
</div>
