---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import type { GridStoryblok } from 'component-types-sb';

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <div
    class="container mx-auto my-12 grid grid-cols-1 place-items-center gap-12 md:grid-cols-3"
  >
    {
      blok.columns?.map((blok: GridStoryblok) => {
        return <StoryblokComponent blok={blok} />;
      })
    }
  </div>
</div>
