---
import HomePagination from '@components/HomePagination.astro';
import PostList from '@components/PostList.astro';
import TagList from '@components/TagList.astro';
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
let articles = blok.articles;

const tags = [
  ...new Set(articles.map((article: any) => article.content.tags).flat()),
];
---

<section
  class="mx-auto flex w-full flex-col gap-8 lg:gap-2"
  {...storyblokEditable(blok)}
>
  <div class="flex flex-col lg:flex-row">
    <PostList articles={articles} />
    <TagList tags={tags} />
  </div>
  <HomePagination />
</section>
