---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import type { PageStoryblok } from 'component-types-sb';
const { blok } = Astro.props;
---

<main
  class="container mx-auto flex min-h-screen max-w-5xl flex-grow flex-col px-4 pb-4 pt-20"
  {...storyblokEditable(blok)}
>
  {
    blok.body?.map((blok: PageStoryblok) => {
      return <StoryblokComponent blok={blok} />;
    })
  }
</main>
