---
import ToTop from '@/icons/arrow-up.svg';
---

<button
  id="back-to-top"
  class="invisible fixed right-6 bottom-6 z-50 rounded-full p-2 opacity-0 shadow-lg transition-opacity duration-300 hover:cursor-pointer"
  aria-label="Back to top"
>
  <ToTop class="size-4" />
</button>

<script>
  const backToTopButton = document.getElementById('back-to-top');

  let lastScrollY = window.scrollY;

  function toggleBackToTopButton() {
    const currentScrollY = window.scrollY;

    const isPastThreshold = currentScrollY > 300;
    const isScrollingUp = currentScrollY < lastScrollY;

    if (isPastThreshold && isScrollingUp) {
      backToTopButton?.classList.remove('opacity-0', 'invisible');
      backToTopButton?.classList.add('opacity-100', 'visible');
    } else {
      backToTopButton?.classList.add('opacity-0', 'invisible');
      backToTopButton?.classList.remove('opacity-100', 'visible');
    }

    lastScrollY = currentScrollY;
  }
  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
  window.addEventListener('scroll', toggleBackToTopButton, { passive: true });
  backToTopButton?.addEventListener('click', scrollToTop);
</script>
