---
import { Icon } from 'astro-icon/components';
---

<button
  id="back-to-top"
  class="btn btn-circle btn-sm lg:btn-md btn-accent invisible fixed bottom-16 right-5 p-2 opacity-0 shadow-lg transition-opacity duration-300 md:bottom-5"
  aria-label="Back to top"
>
  <Icon name="arrow-up" />
</button>

<script>
  const backToTopButton = document.getElementById('back-to-top');

  function toggleBackToTopButton() {
    if (window.scrollY > 300) {
      backToTopButton?.classList.remove('opacity-0', 'invisible');
      backToTopButton?.classList.add('opacity-100', 'visible');
    } else {
      backToTopButton?.classList.add('opacity-0', 'invisible');
      backToTopButton?.classList.remove('opacity-100', 'visible');
    }
  }

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  }

  window.addEventListener('scroll', toggleBackToTopButton);
  backToTopButton?.addEventListener('click', scrollToTop);
</script>
