---
import Layout from '@layouts/BaseLayout.astro';
---

<Layout title="404 Error">
  <div
    class="z-20 mx-auto flex w-fit flex-col items-center justify-center gap-10 p-10"
  >
    <h2 class="text-5xl font-black text-accent drop-shadow-lg">404</h2>
    <p class="">이런! 찾으시는 페이지를 찾을 수 없습니다.</p>
    <a href="/" class="rounded-lg bg-accent p-2 text-white shadow-lg"
      >메인으로 돌아가기</a
    >
  </div>
</Layout>
