---
import Layout from '@layouts/BaseLayout.astro';
---

<Layout title="404 Error">
  <div
    class="z-20 mx-auto flex w-fit flex-col items-center justify-center gap-10 p-10"
  >
    <h2 class="text-7xl font-black text-accent drop-shadow-lg">404</h2>
    <p class="text-3xl">
      이런! 요청하신 페이지가 삭제되었거나, 이름이 변경되었거나, 일시적으로
      사용할 수 없습니다.
    </p>
    <a href="/" class="btn btn-outline  rounded-full">홈으로 돌아가기</a>
  </div>
</Layout>
