---
import { ProfileImage } from '@/components/domain/profile';
import { PAGE_META } from '@/config';
import BaseLayout from '@/layouts/BaseLayout.astro';

const head = PAGE_META.about;
---

<BaseLayout head={head}>
  <div class="flex w-full items-center justify-center">
    <ProfileImage position="content" />
  </div>
  <article class="prose">
    <h2>About Me</h2>
    <p>안녕하세요. 개발자 <b>문지웅</b>입니다.</p>
    <p>
      <b>새로운 기술에 대한 호기심</b>과 <b>끊임없는 열정</b>을 가지고 있습니다.
      학습한 지식을 직접 구현한 <b>블로그</b>에 정리하고 공유함으로써 지식
      공유에도 기여하고 있습니다. <b>Next.js</b>와 <b>TypeScript</b>를 학습하고,
      이를 활용해서 개인 프로젝트 및 팀 프로젝트를 진행한 경험이 있습니다.
    </p>
    <p>
      개인의 성장뿐만 아니라, <b>소통</b>과 <b>협업</b>도 중요시합니다. 다양한
      프로젝트 경험을 통해 프론트엔드와 백엔드 개발자들, 개발이 아닌 타 직무와
      원활하게 협업하는 방법과 개발 프로세스를 익혀왔습니다. 팀 내에서 효과적인
      커뮤니케이션과 역할 분담을 통해 일정 관리와 목표 달성을 위한 체계적인 계획
      수립 능력을 갖추고 있습니다. 이러한 노력으로 프로젝트의 완성도가 높은
      팀으로 평가받은 경험이 있습니다.
    </p>
    <p>
      앞으로도 지속적으로 새로운 기술에 관심을 가지고 성장을 위해 고민하며, 이를
      통해 더 나은 사용자 경험을 제공하는 프론트엔드 개발자로서 성장해 나갈
      것입니다.
    </p>
  </article>
</BaseLayout>
