---
import BaseLayout from '@/app/layouts/BaseLayout.astro';
import { getPostsGroupedByYear } from '@/shared/lib/content/posts';
import { seo } from '@/shared/lib/seo';
import { YearSection } from '@/widgets/posts-list/ui';

const meta = seo.page('archive');

const sections = await getPostsGroupedByYear();
---

<BaseLayout meta={meta}>
  <div class="container-frame mt-2 space-y-10">
    {sections.map((s) => <YearSection {...s} />)}
  </div>
</BaseLayout>
