---
import { getCollection } from 'astro:content';
import config from '@config/config.json';
import Base from '@layouts/Base.astro';
import Posts from '@layouts/Posts.astro';
import Hero from '@components/Hero.astro';

const recentPosts = (await getCollection('blog'))
  .sort(
    (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
  )
  .slice(0, config.site.pageSize);
---

<Base pageTitle="woongsnote.dev">
  <Hero />
  <div class="flex w-full items-center justify-between">
    <h2 class="text-2xl font-black">최신 글</h2>
    <a href="/blog">더 보기</a>
    <!-- <HomePagination /> -->
  </div>
  <Posts posts={recentPosts} />
</Base>
