---
import BaseLayout from '@/app/layouts/BaseLayout.astro';
import { getAllPosts } from '@/shared/lib/content/get-posts';
import { seo } from '@/shared/lib/seo';
import { PostsList } from '@/widgets/posts-list/ui';

const meta = seo.page('home');

const allPosts = await getAllPosts();
---

<BaseLayout meta={meta}>
  <div class="container-frame">
    <PostsList posts={allPosts} />
  </div>
</BaseLayout>
