---
import PostItem from '@/components/post/PostItem.astro';
import { siteConfig } from '@/config';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getPosts } from '@/lib/posts';

const HOME_POSTS_LIMIT = 10;

const allPosts = await getPosts();

const homePosts = allPosts.slice(0, HOME_POSTS_LIMIT);

const totalPostsCount = allPosts.length;
---

<BaseLayout title={siteConfig.name} description={siteConfig.description}>
  <section class="mx-auto w-full max-w-4xl px-2 lg:px-4">
    <ul>
      {homePosts.map((post) => <PostItem post={post} />)}
    </ul>
    <footer class="mt-2">
      <a
        href="/archive"
        class="text-accent inline-flex items-center gap-1.5 font-mono text-sm tracking-wide no-underline transition-colors duration-200 hover:underline"
      >
        All {totalPostsCount} Posts →
      </a>
    </footer>
  </section>
</BaseLayout>
