---
import ViewMore from './ViewMore.astro';
---

<section class="hero">
  <div class="hero-content flex-col px-1 py-8 text-center lg:gap-8 lg:py-10">
    <h1 class="mb-4 text-center text-3xl font-bold md:text-4xl lg:text-5xl">
      새로운 기술 학습을 통한 <br /> 성장의 여정
    </h1>
    <p class="mx-auto max-w-sm break-keep lg:text-lg">
      새로운 기술을 학습하고, 프로젝트에 적용해서 성장하는 경험의 기록 모음
      새로운 기술을 학습하고, 프로젝트에 적용해서 성장하는 경험의 기록 모음
    </p>
    <ViewMore />
  </div>
</section>
