---
import PostList from '@components/PostList/PostList.astro';
import { sortPostsByDateDesc } from '@utils/data-util';
import { type CollectionEntry, getCollection } from 'astro:content';

const LATEST_POSTS_SIZE = 5;
const TITLE = '최신 글';

const latestPosts: CollectionEntry<'blog'>[] = (
  await getCollection('blog')
).sort(sortPostsByDateDesc);
---

<section class="flex flex-col space-y-4">
  <span
    class="my-4 w-full max-w-5xl border-b pb-2 text-3xl font-black text-content lg:my-8 lg:pb-4 lg:text-5xl"
  >
    {TITLE}
  </span>
  <PostList pageSize={LATEST_POSTS_SIZE} posts={latestPosts} />
</section>
