---
import PostList from '@components/Posts/PostList.astro';
import { getPosts } from '@utils/data-util';

const LATEST_POSTS_SIZE = 4;
const TITLE = '최신 글';

const latestPosts = await getPosts(LATEST_POSTS_SIZE);
---

<section class="mb-4 flex flex-col space-y-4">
  <h2 class="pb-2 text-2xl font-black lg:text-3xl">
    {TITLE}
  </h2>
  <PostList posts={latestPosts} />
</section>
