---
import PostList from '@components/PostList/PostList.astro';

const LATEST_POSTS_SIZE = 5;
const TITLE = '최신 글';
---

<h2
  class="mx-auto mt-4 w-full max-w-5xl border-b pb-2 text-3xl font-black text-content lg:mt-8 lg:text-5xl"
>
  {TITLE}
</h2>
<PostList pageSize={LATEST_POSTS_SIZE} />
