---
import Logo from '@components/Header/Logo.astro';
import Navigation from '@components/Nav/Navigation.astro';
import ThemeSwitcher from '../Theme/ThemeSwitcher.astro';
---

<header
  class="fixed top-0 z-20 flex w-full items-stretch bg-bkg/90 px-2 pt-2 backdrop-blur-sm">
  <div
    class="mx-auto flex w-full items-center justify-between text-lg lg:text-2xl">
    <Logo />
    <div class="flex items-center">
      <Navigation />
      <ThemeSwitcher />
    </div>
  </div>
</header>
