---
import Navigation from '@components/Nav/Navigation.astro';
import ThemeSwitcher from '@components/Theme/ThemeSwitcher.astro';
import Logo from './Logo.astro';
---

<header
  class="sticky top-0 z-20 flex w-full bg-background/90 saturate-100 backdrop-blur-sm"
>
  <div
    class="container mx-auto flex h-12 w-full max-w-3xl items-center justify-between rounded-md p-2"
  >
    <Logo />
    <div class="flex flex-1 items-center justify-end gap-4">
      <Navigation />
      <span class="hidden text-content md:block"> | </span>
      <ThemeSwitcher />
    </div>
  </div>
</header>
