---
import { Image } from 'astro:assets';
import logoImage from '@assets/logo.png';
---

<a href="/" class="flex place-items-center" aria-label="Go to Homepage">
  <figure aria-hidden="true">
    <Image
      src={logoImage}
      alt="home"
      class="size-10 rounded-md"
      loading="eager"
      width="64"
      height="64"
    />
  </figure>
  <span class="sr-only">Go to Homepage</span>
</a>
