---
import { SITE as siteConfig } from '@config/site-config';
const siteName = siteConfig.site.title;
---

<a
  href="/"
  class="text-2xl font-bold text-gray-900 dark:text-gray-100"
  aria-label={`Go to Homepage of ${siteName}`}
>
  {siteName}
</a>
