---
import { SITE as siteConfig } from '@config/site-config';
const siteName = siteConfig.site.title;
---

<a
  href="/"
  class="btn btn-ghost text-lg hover:bg-transparent hover:text-accent"
  aria-label={`Go to Homepage of ${siteName}`}
>
  {siteName}
</a>
