---
import { SITE as siteConfig } from '@config/site-config';
const siteName = siteConfig.site.title;
---

<a
  href="/"
  class="pl-2 text-2xl font-bold lg:pl-0"
  aria-label={`Go to Homepage of ${siteName}`}
>
  {siteName}
</a>
