---
import { SITE as siteConfig } from '@config/site-config';
const siteName = siteConfig.site.title;
---

<a
  href="/"
  class="flex place-items-center text-lg font-bold text-content px-1"
  aria-label="Go to Homepage"
>
  <span>{siteName}</span>
  <span class="sr-only">Go to Homepage</span>
</a>
