---
import { SITE as siteConfig } from '@config/site-config';
import { Icon } from 'astro-icon/components';
const siteName = siteConfig.site.title;
---

<a
  href="/"
  class="flex items-center"
  aria-label={`Go to Homepage of ${siteName}`}
>
  <Icon
    name="logo"
    class="size-8 bg-base-100 stroke-white stroke-[4px] dark:stroke-black"
  />
  <span class="sr-only">
    {siteName}
  </span>
</a>
