---
import { SITE as siteConfig } from '@config/site-config';
const siteName = siteConfig.site.title;
---

<a
  href="/"
  class="text-2xl font-bold"
  aria-label={`Go to Homepage of ${siteName}`}
>
  <span>
    {siteName}
  </span>
</a>
