---
import { Image } from 'astro:assets';
import logoImage from '@assets/logo.png';
---

<a href="/" class="flex place-items-center gap-1" aria-label="Go to Homepage">
  <figure aria-hidden="true">
    <Image
      src={logoImage}
      alt="home"
      class="size-8 rounded-md"
      loading="eager"
    />
  </figure>
  <span class="inline-block font-black text-content"
    >Woongsnote</span
  >
  <span class="sr-only">Go to Homepage</span>
</a>
