---
type Props = {
  category: string;
};
const { category } = Astro.props;
---

<span
  class:list={[
    'rounded-md px-2 py-1 font-black uppercase text-content',
    category === 'Project'
      ? 'border-blue-700'
      : category === 'Diary'
        ? 'border-green-700'
        : 'border-gray-700',
  ]}
>
  {category}
</span>
