---
type Props = {
  category: string;
};
const { category } = Astro.props;
---

<span
  class:list={[
    'rounded-md px-2 py-1 text-xs font-black text-white lg:text-sm uppercase',
    category === 'Project'
      ? 'text-blue-700'
      : category === 'Diary'
        ? 'text-green-700'
        : 'text-gray-700',
  ]}
>
  {category}
</span>
