---
const { categories } = Astro.props;
---

{
  categories.map((category: string) => (
    <span class="rounded-md bg-accent px-2 py-1 text-xs font-black text-white dark:text-black lg:text-sm">
      {category}
    </span>
  ))
}
