---
import ThemeSwitcher from '@components/ThemeSwitch.astro';
const year = new Date().getFullYear();
---

<footer class="mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-8">
  <div
    class="border-t border-zinc-100 dark:border-zinc-900 flex justify-between items-center"
  >
    <p
      class="text-center text-xs/relaxed text-zinc-500 dark:text-zinc-400 my-4"
    >
      &copy; {year}. woongsnote All rights reserved.
    </p>
    <ThemeSwitcher />
  </div>
</footer>
