---
import SocialLinks from './SocialLinks.astro';
const year = new Date().getFullYear();
---

<footer class="border-t bg-bkg p-4">
  <div
    class="container flex w-full max-w-5xl flex-col items-center justify-between gap-4"
  >
    <p class="text-center text-sm text-zinc-500 dark:text-zinc-400">
      &copy; {year}. woongsnote All rights reserved.
    </p>
    <SocialLinks />
  </div>
</footer>
