---
import ThemeSwitcher from './ThemeSwitcher.astro';
const year = new Date().getFullYear();
---

<footer class="bg-bkg">
  <div
    class="container mx-auto flex items-center justify-between border-t px-2 lg:px-0"
  >
    <p
      class="my-4 text-center text-xs/relaxed text-zinc-500 dark:text-zinc-400"
    >
      &copy; {year}. woongsnote All rights reserved.
    </p>
    <ThemeSwitcher />
  </div>
</footer>
