---
type Props = {
  date: Date;
};

const { date } = Astro.props;

const dateOptions: Object = {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
};

const publishedDate = new Date(date).toLocaleDateString('ko-kR', dateOptions);
---

<span class="whitespace-nowrap">
  {publishedDate}
</span>
