---
import Navigation from '@components/Navigation.astro';
import Logo from '@components/Logo.astro';
---

<header class="bg-bkg">
  <div
    class="mx-auto flex max-w-screen-lg items-center justify-between gap-2 p-4 sm:gap-4"
  >
    <Logo />
    <Navigation />
  </div>
</header>
