---
import Navigation from './Navigation.astro';
import Logo from '@components/Logo.astro';
---

<header class="bg-white dark:bg-zinc-900">
  <div
    class="flex items-center justify-between gap-2 sm:gap-4 mx-auto max-w-screen-lg p-4"
  >
    <Logo />
    <Navigation />
  </div>
</header>
