---
import config from '@config/site-config';
import SocialLinks from './SocialLinks.astro';
import ProfileImage from './ProfileImage.astro';

const techStack: string[] = config.author.tech.split(', ');
---

<section class="mb-4 w-full border-b">
  <div class="mx-auto mb-4 flex w-full items-start justify-between">
    <div class="w-full rounded-lg md:w-4/5">
      <h1 class="mb-0 text-lg font-black text-content sm:text-3xl">
        {config.author.name}
      </h1>
      <p class="mt-1.5 break-keep text-sm text-subContent md:text-base">
        {config.author.bio}
      </p>
      <div class="m-auto flex space-x-5 pt-4">
        {
          techStack?.map((item) => (
            <span class="font-bold text-content">#{item}</span>
          ))
        }
      </div>
      <div class="mt-4">
        <SocialLinks />
      </div>
    </div>
    <div class="hidden rounded-lg md:block">
      <figure class="right-0">
        <ProfileImage />
      </figure>
    </div>
  </div>
</section>