---
import ArrowIcon from '@icons/ArrowRightIcon.astro';
---

<div class="m-auto text-right my-10">
  <a
    href="/blog"
    class="inline-block rounded border border-primary px-12 py-3 text-sm font-medium text-primary transition-all hover:bg-primary hover:text-white focus:outline-none focus:ring active:bg-primary dark:border-secondary dark:text-secondary dark:hover:border-primary dark:hover:text-white"
  >
    All Posts
    <ArrowIcon />
  </a>
</div>
