---
import ArrowIcon from '@icons/ArrowRightIcon.astro';
---

<div class="m-auto text-right my-10">
  <a
    href="/blog"
    class="inline-block rounded border border-accent px-12 py-3 text-sm font-medium text-accent transition-all hover:bg-accent hover:text-white focus:outline-none focus:ring active:bg-accent ring-accent"
  >
    All Posts
    <ArrowIcon />
  </a>
</div>
