---
import ArrowIcon from '@icons/ArrowRightIcon.astro';
---

<div class="m-auto my-10 text-right">
  <a
    href="/blog"
    class="inline-block rounded border border-accent px-12 py-3 text-sm font-medium text-accent ring-accent transition-all hover:bg-accent hover:text-white focus:outline-none focus:ring active:bg-accent"
  >
    더보기
    <ArrowIcon />
  </a>
</div>
