---
import { Image } from 'astro:assets';
import config from '@config/config.json';
---

<a href="/" class="col-span-1 w-fit text-lg font-bold lg:text-2xl">
  <figure>
    <Image
      src={config.site.logo}
      alt={config.site.title}
      loading="lazy"
      decoding="async"
      width={512}
      height={512}
      class="w-16 rounded"
    />
  </figure>
</a>
