---
import { Image } from 'astro:assets';
import logoImage from '@assets/logo.png';
---

<a
  href="/"
  class="flex size-14 items-center justify-center rounded-md shadow-md"
  aria-label="Go to Homepage"
>
  <figure aria-hidden="true">
    <Image
      src={logoImage}
      alt="home"
      class="size-full rounded-lg"
      loading="eager"
    />
  </figure>
  <span class="sr-only">Go to Homepage</span>
</a>
