---
import { Image } from 'astro:assets';
import logoImage from '@assets/logo.png';;
---

<a
  href="/"
  class="flex h-14 w-14 items-center justify-center rounded-md shadow-md"
  aria-label="Go to Homepage"
>
  <figure aria-hidden="true">
    <Image src={logoImage} alt='home' class="h-full w-full rounded-lg" />
  </figure>
  <span class="sr-only">Go to Homepage</span>
</a>
