---
import { Image } from 'astro:assets';
import config from '@config/config.json';
import logoImage from '@assets/logo.png';

const title = config.site.title;
---

<a
  href="/"
  class="flex h-14 w-14 items-center justify-center rounded-md shadow-md"
  aria-label="Home"
  aria-labelledby="description"
>
  <Image
    src={logoImage}
    alt={title}
    class="h-full w-full rounded-lg"
  />
</a>
