---
import menu from '@config/menu.json';
import NavLink from './NavLink.astro';
import HomeIcon from '@icons/HomeIcon.astro';
import AboutIcon from '@icons/AboutIcon.astro';
import PostIcon from '@icons/PostIcon.astro';
import TagIcon from '@icons/TagIcon.astro';

export type NavLinkPrpos = {
  name: string;
  url: string;
};

const { main }: { main: NavLinkPrpos[] } = menu;
---

<nav class="flex items-center gap-4 p-2 text-subContent lg:gap-8">
  {
    main.map(({ name, url }) => (
      <NavLink
        href={url}
        aria-label={`go to ${name} page`}
        class="flex gap-1 hover:text-accent"
      >
        <span class="md:hidden">
          {name === 'Home' ? (
            <HomeIcon />
          ) : name === 'About' ? (
            <AboutIcon />
          ) : name === 'Blog' ? (
            <PostIcon />
          ) : (
            <TagIcon />
          )}
        </span>
        <span class="hidden md:block">{name}</span>
      </NavLink>
    ))
  }
</nav>
