---
import menu from '@config/menu.json';
import HeaderLink from './HeaderLink.astro';
import HomeIcon from '@icons/HomeIcon.astro';
import AboutIcon from '@icons/AboutIcon.astro';
import PostIcon from '@icons/PostIcon.astro';

export type NavLink = {
  name: string;
  url: string;
};

const { main }: { main: NavLink[] } = menu;
---

<nav class="flex items-center gap-4 text-subContent lg:gap-8">
  {
    main.map(({ name, url }) => (
      <HeaderLink
        href={url}
        aria-label={`go to ${name} page`}
        class="flex gap-1 hover:text-accent"
      >
        <span class="md:hidden">
          {name === 'Home' ? (
            <HomeIcon />
          ) : name === 'About' ? (
            <AboutIcon />
          ) : (
            <PostIcon />
          )}
        </span>
        <span class="hidden md:block">{name}</span>
      </HeaderLink>
    ))
  }
</nav>
