---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
  href={href}
  class:list={[
    className,
    { active: isActive },
    `${isActive ? 'underline underline-offset-8 font-bold' : ''}`,
    'lg:text-2xl',
  ]}
  {...props}
>
  <slot />
</a>
