---
const { title, description } = Astro.props;
---

<section class="mb-4 text-content">
  <h1 class="mb-4 text-2xl font-black md:text-3xl">
    {title}
  </h1>
  <p class="text-sm lg:text-lg">
    {description}
  </p>
</section>
