---
import config from '@config/config.json';
import PostCard from './PostCard.astro';
import type { CollectionEntry } from 'astro:content';

type Props = {
  posts: CollectionEntry<'blog'>[];
};

const { posts } = Astro.props;
---

<ul class="flex w-full flex-col gap-8 px-0">
  {
    posts.slice(0, config.site.pageSize).map((post) => (
      <li class="w-full">
        <PostCard post={post} />
      </li>
    ))
  }
</ul>
