---
import { Image } from 'astro:assets';

type Props = {
  image: string;
  alt: string;
};

const { image, alt } = Astro.props;
---

<div
  class="mx-auto flex items-center justify-center overflow-hidden rounded-lg shadow-sm"
>
  <figure
    class="mx-auto h-auto w-auto object-cover object-center duration-300 ease-in-out hover:scale-110 md:h-72"
  >
    <Image
      src={image}
      alt={alt}
      width="960"
      height="540"
      class="h-full w-full"
    />
  </figure>
</div>
