---
import TimerIcon from '@icons/TimerIcon.astro';
const { readingTime } = Astro.props;
---

<span class="flex items-center justify-end gap-1 text-content">
  <TimerIcon />
  {`읽는 데 ${readingTime}분`}
</span>
