---
import config from '@config/site-config';
const socialLinks = config.socialLinks;
---

<div class="flex space-x-5">
  {
    socialLinks.map((socialLink) => (
      <a
        href={socialLink.url}
        target="_blank"
        role="link"
        aria-label="social-link button"
        aria-describedby={`${socialLink.name} icon`}
      >
        <figure>
          <Fragment set:html={socialLink.svg} />
        </figure>
        <span class="sr-only">Go to {socialLink.name} page</span>
      </a>
    ))
  }
</div>
