---
const { url, title } = Astro.props;
---

<li
  class="hover:scale-120 flex h-fit w-fit items-center space-x-1 rounded-lg border border-accent p-2 text-subContent transition-all duration-300 hover:bg-accent hover:text-white"
>
  <a href={url}>
    {title}
  </a>
</li>
