---
import TagItem from './TagItem.astro';

type Props = {
  tags: string[];
};
const { tags } = Astro.props;
---

<div class="flex flex-wrap gap-3">
  {
    tags?.map((tag) => {
      return <TagItem title={tag} />;
    })
  }
</div>
