---
import ComputerIcon from '@icons/ComputerIcon.astro';
import MoonIcon from '@icons/MoonIcon.astro';
import SunIcon from '@icons/SunIcon.astro';
const currentTheme = 'system';

const options = ['light', 'dark', 'system'];
---

<!-- TODO -->
<div class="flex gap-2 rounded-md border text-gray-400 px-2">
  {
    options.map((opt) => (
      <button class="w-fit h-fit hover:text-primary bg-transparent text-gray-500 p-1">
        {opt === 'light' ? (
          <SunIcon />
        ) : opt === 'dark' ? (
          <MoonIcon />
        ) : (
          <ComputerIcon />
        )}
      </button>
    ))
  }
</div>
