---
import ComputerIcon from '@icons/ComputerIcon.astro';
import MoonIcon from '@icons/MoonIcon.astro';
import SunIcon from '@icons/SunIcon.astro';
import ThemeButton from './ThemeButton.astro';
---

<div
  class="flex w-fit justify-between gap-2 rounded-md p-2"
>
  <ThemeButton id="light">
    <SunIcon />
  </ThemeButton>
  <ThemeButton id="dark">
    <MoonIcon />
  </ThemeButton>
  <ThemeButton id="system">
    <ComputerIcon />
  </ThemeButton>
</div>

<script></script>
