---
import { groupPostsByYear } from '@/shared/lib/content/posts';
import YearSection from './YearSection.astro';

const { posts } = Astro.props;

const groupedPosts = groupPostsByYear(posts);
---

<section class="space-y-12">
  {
    groupedPosts.map(({ year, posts }) => (
      <YearSection year={year} posts={posts} />
    ))
  }
</section>
