---
import type { PostEntry } from '@/shared/types';
import PostItem from './PostItem.astro';

type Props = {
  year: number;
  posts: PostEntry[];
};

const { year, posts } = Astro.props;
---

<section class="space-y-4">
  <h2 class="text-sub text-sm font-semibold">{year}</h2>
  <ul class="space-y-2">
    {
      posts.map((post) => (
        <li>
          <PostItem post={post} />
        </li>
      ))
    }
  </ul>
</section>
