---
import type { PostEntry } from '@/shared/types';
import PostRow from '@/widgets/posts-table/ui/PostRow.astro';

type Props = {
  year: number;
  posts: PostEntry[];
};

const { year, posts } = Astro.props;
---

<section class="mt-10">
  <h2 class="text-sub mb-4 text-xs font-medium tracking-wide">
    {year}
  </h2>
  <ul>
    {posts.map((post) => <PostRow post={post} />)}
  </ul>
</section>
