---
type Props = {
  maxWidthClass?: string;
};
---

<header
  role="banner"
  class="bg-background/80 border-header/50 sticky top-0 z-10 mx-auto w-full max-w-3xl border-b px-4 backdrop-blur-md lg:px-0"
>
  <div class="container-frame flex h-14 items-center">
    <slot />
  </div>
</header>
