---
import { siteConfig } from '@/shared/config';

const siteName = siteConfig.name;
---

<a
  href="/"
  class="group hover:text-accent text-2xl font-bold transition-colors"
  aria-label={`Go to Homepage of ${siteName}`}
>
  <span
    class="inline-block font-semibold tracking-tight transition-transform group-hover:scale-105"
  >
    {siteName}
  </span>

  <span class="text-sub hidden text-xs sm:inline"> · Structured UI Notes </span>
</a>
