---
import ThemeToggle from '@/shared/ui/ThemeToggle.astro';
import { getHeaderLinkInfo } from '../lib/useHeaderLink';
import HeaderBrand from './HeaderBrand.astro';
import HeaderNav from './HeaderNav.astro';

const { pathname } = Astro.url;

const linkInfo = getHeaderLinkInfo(pathname);
---

<header
  role="banner"
  class="bg-background/80 border-header/50 sticky top-0 z-10 mx-auto w-full max-w-3xl border-b px-4 backdrop-blur-md lg:px-0"
>
  <div class="flex h-14 items-center gap-3">
    {/* Logo */}
    <HeaderBrand />

    {/* Nav*/}
    <div class="flex flex-1 items-center justify-end sm:justify-end">
      <HeaderNav linkInfo={linkInfo} />
    </div>

    <div class="flex items-center gap-2">
      <span class="bg-header/40 h-5 w-px" aria-hidden="true"></span>
      <ThemeToggle />
    </div>
  </div>
</header>
