---
import SocialLinks from '@components/Social/SocialLinks.astro';
const year = new Date().getFullYear();
---

<footer
  role="contentinfo"
  class="footer footer-center gap-2 mt-4"
>
  <SocialLinks />
  <p class="text-center text-sm">
    &copy; {year}. woongsnote All rights reserved.
  </p>
</footer>
