---

---

<button
  id="search-btn"
  class="btn btn-ghost btn-square btn-sm"
  aria-label="검색 열기"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-5 w-5"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
  >
    <circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path>
  </svg>
</button>
