---
import FormattedDate from '@components/Date/FormattedDate.astro';
import type { Post } from '@utils/types';

const { post } = Astro.props as { post: Post };
---

<li>
  <a href={`/${post.id}`} class="mb-8 flex w-full flex-col break-keep">
    <span
      class="hover:text-accent mb-2 text-xl font-bold underline-offset-6 hover:underline"
    >
      {post.data.title}
    </span>
    <span class="mb-4">
      {post.data.description}
    </span>
    <FormattedDate date={post.data.publishedDate} />
  </a>
</li>
