---
import type { Post } from '@utils/types';
import TableHeader from './TableHeader.astro';
import TableRow from './TableRow.astro';

const { posts } = Astro.props as { posts: Post[] };
---

<table class="mt-2 w-full table-auto border-collapse rounded-lg shadow-sm">
  <thead>
    <TableHeader />
  </thead>
  <tbody>
    {posts.map((post) => <TableRow post={post} />)}
  </tbody>
</table>
