---
const BLOG_TITLE = 'Blog';
const BLOG_DESCRIPTION = '개발 관련 학습한 지식과 프로젝트의 기록입니다.';
---

<section
  class="mx-auto flex w-full flex-col space-y-4 py-2 text-content lg:py-12"
>
  <h1 class="mx-auto w-full text-4xl font-black text-content lg:text-5xl">
    {BLOG_TITLE}
  </h1>
  <p class="border-b pb-2 text-sm lg:text-lg">{BLOG_DESCRIPTION}</p>
</section>
