---
import { CATEGORIES } from '@config/site-config';

type Props = {
  currentPage: string;
  categoryCounts: Record<string, number>;
};

const { currentPage, categoryCounts } = Astro.props;

const getCategoryLinkClass = (isActive: boolean): string => {
  return `underline-offset-4 duration-200 hover:text-accent hover:underline ${
    isActive ? 'underline' : ''
  }`;
};
---

<div class="mb-6 flex flex-row flex-wrap gap-4 text-sm md:mb-4 lg:text-lg">
  {
    CATEGORIES.map(({ page, title, href }) => {
      const key = page || 'all';
      const count = categoryCounts[key] || 0;
      const isActive = currentPage === key;
      return (
        <a href={href} class={getCategoryLinkClass(isActive)}>
          {title} ({count})
        </a>
      );
    })
  }
</div>
