---
import FormattedDate from '@components/Date/FormattedDate.astro';
import type { Post } from '@utils/types';

const { post } = Astro.props as { post: Post };
---

<tr
  class="border-b border-gray-200 text-sm hover:bg-gray-50 sm:text-base dark:border-gray-700 dark:hover:bg-gray-800"
>
  <td class="py-4 ps-2 text-sm text-gray-500 dark:text-gray-400">
    <FormattedDate date={post.data.publishedDate} />
  </td>
  <td class="group flex justify-between px-2 py-4">
    <a
      href={`/blog/${post.id}`}
      class="w-full text-balance break-keep underline-offset-6 hover:underline"
    >
      {post.data.title}
    </a>
  </td>
</tr>
