---
import YearSection from './YearSection.astro';

type Props = {
  years: string[];
};

const { years } = Astro.props;
---

<div class="flex flex-col gap-4 lg:gap-8">
  {years.map((year) => <YearSection year={year} />)}
</div>
