---
import PostList from '@/components/Posts/PostList.astro';
import { sortPostsByDateDesc } from '@utils/data-util';
import { getCollection } from 'astro:content';

type Props = {
  year: string;
};

const { year } = Astro.props;

const postsByYear = (
  await getCollection('blog', ({ data }) => {
    return data.publishedDate.getFullYear().toString() === year;
  })
).sort(sortPostsByDateDesc);

const totalPosts = postsByYear.length;
---

<section class="flex flex-col space-y-2 lg:space-y-4">
  <h2 class="mb-2 text-2xl font-bold lg:text-3xl">
    {`${year}`}
    <span class="text-sm lg:text-lg">({totalPosts})</span>
  </h2>
  <PostList posts={postsByYear} />
</section>
