---
import ArrowIcon from '@icons/ArrowRightIcon.astro';
---

<div
  class="mb-4 flex w-full items-center justify-between border-b text-right text-content">
  <h2 class="text-xl lg:text-3xl">최근 글</h2>
  <a
    href="/posts"
    class="flex items-center text-sm font-medium transition-all hover:text-accent lg:text-xl">
    더보기
    <ArrowIcon />
  </a>
</div>
