---

---

<button
  id="theme-toggle"
  aria-label="theme button"
  class="btn btn-circle btn-ghost btn-sm hover:bg-transparent hover:text-accent"
>
  <slot />
</button>

<script>
  type Theme = string;
  const themeToggle = document.getElementById('theme-toggle');
  const html = document.documentElement;

  function getTheme() {
    return (
      localStorage.getItem('theme') ||
      (window.matchMedia('(prefers-color-scheme: dark)').matches
        ? 'dark'
        : 'light')
    );
  }

  function setTheme(theme: Theme) {
    html.setAttribute('data-theme', theme);
    localStorage.setItem('theme', theme);
  }

  setTheme(getTheme());

  themeToggle?.addEventListener('click', () => {
    const currentTheme = html.getAttribute('data-theme');
    const newTheme = currentTheme === 'light' ? 'dark' : 'light';
    setTheme(newTheme);
  });
</script>
