---

---

<theme-button>
  <button
    id="theme-selector"
    aria-label="theme button"
    class:list={[
      'flex items-center rounded-full text-sm text-subContent hover:text-accent',
    ]}
  >
    <slot />
  </button>
</theme-button>

<script>
  document.getElementById('theme-selector')?.addEventListener('click', () => {
    if (localStorage.theme === 'dark') {
      localStorage.theme = 'light';
      document.documentElement.classList.remove('dark');
    } else {
      localStorage.theme = 'dark';
      document.documentElement.classList.add('dark');
    }
  });
</script>
