---

---

<theme-button>
  <button
    id="theme-selector"
    aria-label="theme button"
    class="btn btn-circle btn-ghost btn-sm hover:bg-transparent hover:text-accent"
  >
    <slot />
  </button>
</theme-button>

<script>
  document.getElementById('theme-selector')?.addEventListener('click', () => {
    if (localStorage.theme === 'dark') {
      localStorage.theme = 'light';
      document.documentElement.setAttribute('data-theme', 'light');
    } else {
      localStorage.theme = 'dark';
      document.documentElement.setAttribute('data-theme', 'dark');
    }
  });
</script>
