---
import SunIcon from '@icons/SunIcon.astro';
import MoonIcon from '@icons/MoonIcon.astro';
import ThemeButton from './ThemeButton.astro';
import config from '@config/site-config';

const defaultTheme = config.theme.defaultTheme;
---

<ThemeButton theme={defaultTheme}>
  <span class="hidden dark:block">
    <SunIcon />
  </span>
  <span class="dark:hidden">
    <MoonIcon id="dark" />
  </span>
</ThemeButton>
