---
import Icon from '@/components/Icon/index.astro';
import ThemeButton from './ThemeButton.astro';
import { SITE as config } from '@config/site-config';

const defaultTheme = config.theme.defaultTheme;
---

<ThemeButton theme={defaultTheme}>
  <span class="dark:hidden">
    <Icon name="sun" />
  </span>
  <span class="hidden dark:block">
    <Icon name="moon" />
  </span>
</ThemeButton>
