---
import { Icon } from 'astro-icon/components';
import ThemeButton from './ThemeButton.astro';
import { SITE as config } from '@config/site-config';

const defaultTheme = config.theme.defaultTheme;
const iconStyle = 'inline-block size-6';
---

<ThemeButton theme={defaultTheme}>
  <span class="dark:hidden">
    <Icon name="sun" class={iconStyle} />
  </span>
  <span class="hidden dark:block">
    <Icon name="moon" class={iconStyle} />
  </span>
</ThemeButton>
