---
import CalendarIcon from '@icons/CalendarIcon.astro';

type Props = {
  date: Date;
};

const { date } = Astro.props;

const dateOptions: Object = {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
};

const publishedDate = new Date(date).toLocaleDateString('ko-kR', dateOptions);
---

<span class="flex items-center gap-1 whitespace-nowrap text-subContent">
  <CalendarIcon />
  {publishedDate}
</span>
