---
import MoonIcon from '@/icons/moon.svg';
import SunIcon from '@/icons/sun.svg';
---

<label class="swap swap-rotate">
  <input
    id="theme-toggle"
    type="checkbox"
    class="theme-controller"
    value="woong-light"
  />
  <SunIcon class="swap-off h-6 w-6 fill-current" />
  <MoonIcon class="swap-on h-6 w-6 fill-current" />
</label>
<script is:inline>
  (function () {
    var STORAGE_KEY = 'theme';

    function init() {
      var checkbox = document.getElementById('theme-toggle');
      if (!checkbox) return;

      var isLight =
        document.documentElement.getAttribute('data-theme') === 'woong-light';
      checkbox.checked = isLight;

      checkbox.addEventListener('change', function () {
        var theme = checkbox.checked ? 'light' : 'dark';
        localStorage.setItem(STORAGE_KEY, theme);
      });
    }

    init();
    document.addEventListener('astro:after-swap', init);
  })();
</script>
