---
import Category from '@components/Category/Category.astro';
import FormattedDate from '@components/Date/FormattedDate.astro';

type Props = {
  category: string;
  publishedDate: Date;
};
const { category, publishedDate } = Astro.props;
---

<div class="flex gap-x-2 text-sm">
  <Category category={category} />
  <span class="text-content">|</span>
  <FormattedDate date={publishedDate} />
</div>
