---
import FormattedDate from '@components/Typography/FormattedDate.astro';
import ReadingTimeText from './ReadingTimeText.astro';
import ShareButton from './ShareButton.astro';

const { minutesToRead, title, publishedDate, link } = Astro.props;
---

<div class="flex items-center justify-between gap-2 text-sm lg:text-base">
  <div class="flex gap-2 text-gray-600 dark:text-gray-400">
    <FormattedDate date={publishedDate} />
    <ReadingTimeText readingTime={minutesToRead} />
  </div>
  <ShareButton title={title} url={link} />
</div>
