---
import TimerIcon from '@icons/TimerIcon.astro';

type Props = {
  readingTime: number;
};

const { readingTime } = Astro.props;
---

<span class="flex w-fit items-center gap-1 text-content">
  <TimerIcon />
  {`읽는 데 ${readingTime}분`}
</span>
