---
import Share from '@icons/share.svg';

interface Props {
  title: string;
  url: string;
}

const { title, url } = Astro.props;
---

<button
  id="shareButton"
  class="btn btn-circle btn-ghost btn-sm hover:text-accent hover:bg-transparent"
  data-title={title}
  data-url={url}
  aria-label="share button"
>
  <Share class="inline-block size-6" />
</button>

<script>
  import { sharePost } from '@utils/content';

  const shareButton = document.getElementById('shareButton');
  if (shareButton) {
    const title = shareButton.getAttribute('data-title') || '';
    const url = shareButton.getAttribute('data-url') || '';

    shareButton.addEventListener('click', () => sharePost(title, url));
  }
</script>
