---
type Props = {
  title: string;
};
const { title } = Astro.props;
---

<h2
  class="text-lg font-medium text-content drop-shadow transition-all ease-in-out hover:text-accent sm:text-lg lg:text-3xl"
>
  {title}
</h2>
