---
import { TOC } from '@/config';
import type { MarkdownHeading } from 'astro';

type Props = { headings: MarkdownHeading[] };

const { headings } = Astro.props;

const toc = headings.filter((h) => (h.depth = TOC.depth));
---

{
  toc.length >= 2 && (
    <nav
      aria-label="목차"
      data-pagefind-ignore
      class="collapse-arrow border-base-content/10 not-prose collapse mt-6 rounded-lg border bg-transparent"
    >
      <input type="checkbox" checked />
      <div class="collapse-title min-h-0 py-3 text-sm font-semibold">목차</div>
      <div class="collapse-content">
        <ul class="list-none space-y-2 pl-0">
          {toc.map((h) => (
            <li class="py-1">
              <a
                href={`#${h.slug}`}
                class="text-base-content/70 hover:text-primary text-sm no-underline transition-colors"
              >
                {h.text}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </nav>
  )
}
