---
import { SocialLinks } from '@components/domain/social';
const year = new Date().getFullYear();
---

<footer role="contentinfo" class="footer footer-center mt-4 mb-1 gap-2">
  <SocialLinks />
  <p class="text-center text-sm">
    &copy; {year}. woongsnote All rights reserved.
  </p>
</footer>
