---
import PostList from '@components/PostList.astro';
import TagList from '@components/TagList.astro';

const { posts, tags } = Astro.props;
---

<div class="mx-auto flex w-full flex-col gap-8 lg:flex-row lg:gap-2">
  <PostList posts={posts} />
  <TagList tags={tags} />
</div>
