---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import config from '@config/config.json';

import { ViewTransitions } from 'astro:transitions';
import { SITE_DESCRIPTION, SITE_TITLE } from 'consts';

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  noindex?: string;
  canonical?: string;
  blogpost?: boolean;
}

const { title, description, blogpost } = Astro.props;
---

<html lang={config.site.lang}>
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
    />
    <ViewTransitions />
  </head>
  <body class="bg-bkg relative">
    <Header />
    <main
      class="container mx-auto flex min-h-screen flex-grow flex-col px-4 pb-4 pt-28 max-w-7xl"
    >
      <slot />
    </main>
    <Footer />
    <script></script>
  </body>
</html>