---
import { SITE as config, PAGE_META } from '@config/site-config';

import BaseHead from '@layouts/BaseHead.astro';

import Footer from '@components/Footer/Footer.astro';
import Header from '@components/Header/Header.astro';

import BackToTop from '@components/BackButton/BackToTop.astro';
import '@styles/global.css';
import { getMetaKeyFromRoute } from '@utils/route';

const { title, description, image } = Astro.props;

const pathName = Astro.url.pathname;

const metaKey = getMetaKeyFromRoute(pathName);

const meta = metaKey ? PAGE_META[metaKey] : null;
---

<!doctype html>
<html lang={config.site.lang}>
  <BaseHead
    title={title ?? meta?.title}
    description={description ?? meta?.description}
    image={image}
  />
  <body>
    <Header />
    <main role="main">
      <slot />
    </main>
    <BackToTop />
    <Footer />
  </body>
</html>
