---
import { PAGE_META, SITE, SITE_META } from '@config';

import BaseHead from '@layouts/BaseHead.astro';

import Footer from '@components/Footer/Footer.astro';
import Header from '@components/Header/Header.astro';

import BackToTop from '@components/Navigation/BackToTop.astro';
import '@styles/global.css';

interface Props {
  pageKey?: string;
}

const { pageKey } = Astro.props;

const pageMeta = pageKey ? PAGE_META[pageKey] : null;

const title: string = pageMeta?.title ?? SITE.name;
const description: string = pageMeta?.description ?? SITE_META.description;
---

<!doctype html>
<html lang={SITE.lang}>
  <BaseHead title={title} description={description} />
  <body>
    <Header />
    <main role="main">
      <slot />
    </main>
    <BackToTop />
    <Footer />
  </body>
</html>
