---
import { ViewTransitions } from 'astro:transitions';
import config from '@config/site-config';
import BaseHead from '@components/Base/BaseHead.astro';
import Header from '@components/Header/Header.astro';
import Footer from '@components/Footer/Footer.astro';
import MobileNav from '@components/Nav/MobileNav.astro';

type Props = {
  pageTitle?: string;
  description?: string;
  image?: string;
};

const { pageTitle, description, image } = Astro.props;
const title = pageTitle
  ? `${pageTitle} | ${config.site.title}`
  : config.site.title;
---

<!doctype html>
<html>
  <head>
    <BaseHead
      title={title}
      description={description || config.metadata.meta_description}
      image={image}
    />
    <ViewTransitions />
  </head>
  <body class="relative flex min-h-screen flex-col bg-background">
    <Header />
    <main class="container flex-grow pb-4 pt-12">
      <slot />
    </main>
    <Footer />
    <MobileNav />
  </body>
</html>
