---
import PostList from '@components/PostList.astro';
import TagList from '@components/TagList.astro';

const { posts, tags } = Astro.props;
---

<div class="flex flex-col gap-8 lg:flex-row lg:gap-0">
  <PostList posts={posts} />
  <TagList tags={tags} />
</div>
