---
import PostCard from '@components/PostCard.astro';
import type { CollectionEntry } from 'astro:content';
import config from '@config/site-config';

type Props = {
  posts: CollectionEntry<'blog'>[];
};

const { posts } = Astro.props;
---

<section class="grid w-full gap-8 md:grid-cols-2 lg:grid-cols-3">
  {posts.slice(0, config.site.pageSize).map((post) => <PostCard post={post} />)}
</section>