---
import type { CollectionEntry } from 'astro:content';
import Base from '@layouts/Base.astro';
import ProjectHeader from '@components/ProjectHeader.astro';
import Comments from '@components/Comments';

type Props = {
  project: CollectionEntry<'projects'>;
  minutesToReadText: string;
};

const { minutesToReadText, project } = Astro.props;
---

<Base pageTitle={project.data.title} description={project.data.description}>
  <article class="mx-auto flex w-full flex-col">
    <ProjectHeader project={project} minutesToReadText={minutesToReadText} />
    <div
      class="prose mx-auto my-4 w-full items-center text-base leading-10 text-content dark:prose-invert lg:max-w-5xl lg:text-xl"
    >
      <slot />
    </div>
    <Comments client:idle />
  </article>
</Base>
