---
import ProjectCard from '@components/ProjectCard.astro';
import type { CollectionEntry } from 'astro:content';
import config from '@config/site-config';

type Props = {
  projects: CollectionEntry<'projects'>[];
};

const { projects } = Astro.props;
---

<section class="grid w-full gap-8 md:grid-cols-2 lg:grid-cols-3">
  {
    projects
      .slice(0, config.site.pageSize)
      .map((project) => <ProjectCard project={project} />)
  }
</section>
