---
import { formatDate } from '@utils/formatDate';

type Props = {
  date: Date;
};

const { date } = Astro.props;

const displayDate = formatDate(date);
---

<span class="text-sub ml-auto">{displayDate}</span>
