---
import NavLink from './NavLink.astro';
import { NAV_ITEMS } from '@config/site-config';
import Icon from '@components/Icon/index.astro';
---

<nav
  class="fixed bottom-0 left-0 z-50 mx-auto flex w-full items-center justify-between border-t bg-background text-subContent md:hidden md:gap-10"
>
  {
    NAV_ITEMS.map(({ title, href }) => (
      <NavLink
        href={href}
        aria-label={`go to ${title} page`}
        class="flex flex-1 flex-col items-center justify-center py-4 text-sm hover:text-accent"
      >
        {title === 'Home' && <Icon name="home" />}
        {title === 'About' && <Icon name="about" />}
        {title === 'Blog' && <Icon name="post" />}
      </NavLink>
    ))
  }
</nav>
