---
import NavLink from './NavLink.astro';
import { NAV_ITEMS } from '@config/site-config';

const navLinks = NAV_ITEMS;
---

<nav class="navbar-center hidden md:flex">
  <ul class="menu menu-horizontal px-1">
    {
      navLinks.map(({ title, href }) => (
        <li>
          <NavLink
            title={title}
            href={href}
            class="btn-ghost btn btn-sm text-lg hover:bg-transparent hover:text-accent"
          >
            {title}
          </NavLink>
        </li>
      ))
    }
  </ul>
</nav>
