---
import Logo from '@components/Header/Logo.astro';
import NavLink from './NavLink.astro';
import config from '@config/site-config';
const navLinks = config.navLinks.filter((nav) => nav.name !== 'Home');
---

<nav class="flex items-center space-x-4 text-subContent lg:space-x-6">
  <Logo />
  {
    navLinks.map(({ name, url }) => (
      <NavLink
        href={url}
        aria-label={`go to ${name} page`}
        class="flex gap-1 hover:font-black hover:text-accent"
      >
        <span class="hidden md:block">{name}</span>
      </NavLink>
    ))
  }
</nav>
