---
import { NAV_ITEMS } from '@config/site-config';
import NavLink from './NavLink.astro';

const navLinks = NAV_ITEMS;
---

<nav role="navigation" class="navbar-center hidden md:flex">
  <ul class="menu menu-horizontal gap-8">
    {
      navLinks.map(({ title, href }) => (
        <li>
          <NavLink
            title={title}
            href={href}
            class="btn btn-ghost btn-sm lg:btn-md hover:text-accent"
          >
            {title}
          </NavLink>
        </li>
      ))
    }
  </ul>
</nav>
