---
import NavLink from './NavLink.astro';
import { NAV_ITEMS } from '@config/site-config';

const navLinks = NAV_ITEMS.filter((nav) => nav.title !== 'Home');
---

<nav role="navigation" class="hidden md:block">
  <ul class="flex items-center gap-x-4">
    {
      navLinks.map(({ title, href }) => (
        <li>
          <NavLink
            title={title}
            href={href}
            class="flex gap-2 px-2 text-content hover:text-accent"
          >
            {title}
          </NavLink>
        </li>
      ))
    }
  </ul>
</nav>
