---
import NavLink from './NavLink.astro';
import config from '@config/site-config';
const navLinks = config.navLinks.filter((nav) => nav.name !== 'Home');
---

<nav class="mr-4 flex items-center gap-4 p-2 text-subContent md:gap-10">
  {
    navLinks.map(({ name, url }) => (
      <NavLink
        href={url}
        aria-label={`go to ${name} page`}
        class="flex gap-1 hover:text-accent"
      >
        <span class="hidden md:block">{name}</span>
      </NavLink>
    ))
  }
</nav>
