---
const { href, title, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive =
  href === pathname ||
  (pathname.startsWith(href) && pathname[href.length] === '/');
---

<a
  href={href}
  class:list={[
    className,
    { active: isActive },
    `${isActive ? 'font-bold' : 'opacity-50'}`,
  ]}
  {...props}
  aria-label={`go to ${title} page`}
>
  <slot />
</a>
