---
const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive =
  href === pathname ||
  (pathname.startsWith(href) && pathname[href.length] === '/');
---

<a
  href={href}
  class:list={[
    className,
    { active: isActive },
    `${isActive ? 'font-bold text-accent' : ''}`,
  ]}
  {...props}
  aria-label={`move to ${href} page`}
>
  <slot />
</a>
